{% extends "layout.jinja2" %}

{% block content %}
    <br />
    {% if request.authenticated_userid %}
        Добро пожаловать, <strong>{{request.authenticated_userid}}!</strong> ::
        <a href="{{request.route_url('auth',action='out')}}">Выйти</a>
    {% else %}
        <form action="{{request.route_url('auth',action='in')}}" method="post" class="form-inline">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Зайти" class="btn btn-default">
            </div>
        </form>
        <a href="{{request.route_url('register')}}">Регистрация</a>
    {% endif %}

    {% if paginator.items %}

        <h2>Свежие объявления</h2>

        <ul>
            {% for entry in paginator.items %}
                <li>
                    <a href="{{ request.route_url('blog', id=entry.id, slug=entry.slug) }}">
                        {{ entry.title }}
                        {{ entry.amount}} по цене {{ entry.price}} в 
                        {{ entry.address_delivery }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {{ paginator.pager() |safe }}

    {% else %}

        <p>Нет новых объявлений.</p>

    {% endif %}

    <p><a href="{{ request.route_url('blog_action',action='create') }}">
        Создать объявление</a></p>

{% endblock %}
